node-red-flows/digitalHealth.json
[{"id":"1348dd0c.9c1a63","type":"tab","label":"Patient-01","disabled":false,"info":""},{"id":"8d356d97.cb653","type":"mqtt-broker","z":"","name":"TelluActiveMQ-Broker","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac35df56.49882","type":"ui_group","z":"","name":"Patient-01","tab":"4d5fb9dd.f5fcd8","disp":true,"width":"6","collapse":false},{"id":"4d5fb9dd.f5fcd8","type":"ui_tab","z":"","name":"TelluDashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"9da35bac.99aab8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fe0922e.db382e","type":"mqtt in","z":"1348dd0c.9c1a63","name":"blood-pressure-sensor","topic":"things/medicalGW-01-0/sensors/blood-pressure-sensor","qos":"2","datatype":"auto","broker":"8d356d97.cb653","x":200,"y":140,"wires":[["8447c4d6.9bd368","66a988aa.0a9038"]]},{"id":"cbedeadf.3a4558","type":"mqtt in","z":"1348dd0c.9c1a63","name":"glucose-level-sensor","topic":"things/medicalGW-01-0/sensors/glucose-level-sensor","qos":"2","datatype":"auto","broker":"8d356d97.cb653","x":190,"y":220,"wires":[["5ff37dcd.474414"]]},{"id":"629f7908.e1b6f8","type":"mqtt in","z":"1348dd0c.9c1a63","name":"motion-detection-sensor","topic":"things/medicalGW-01-0/sensors/motion-detection-sensor","qos":"2","datatype":"auto","broker":"8d356d97.cb653","x":210,"y":300,"wires":[["d3c6724.cd1bb9"]]},{"id":"1ebb69b5.eda496","type":"mqtt in","z":"1348dd0c.9c1a63","name":"scale-sensor","topic":"things/medicalGW-01-0/sensors/scale-sensor","qos":"2","datatype":"auto","broker":"8d356d97.cb653","x":170,"y":380,"wires":[["52c7ff1d.ea624","6db58ddd.71e314"]]},{"id":"8447c4d6.9bd368","type":"ui_gauge","z":"1348dd0c.9c1a63","name":"Blood Pressure Gauge","group":"ac35df56.49882","order":3,"width":0,"height":0,"gtype":"gage","title":"blood-pressure","label":"units","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":40,"wires":[]},{"id":"66a988aa.0a9038","type":"ui_chart","z":"1348dd0c.9c1a63","name":"Blood Pressure Chart","group":"ac35df56.49882","order":4,"width":0,"height":0,"label":"blood-pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":100,"wires":[[]]},{"id":"d3c6724.cd1bb9","type":"ui_switch","z":"1348dd0c.9c1a63","name":"Motion Detection","label":"motion-detection","tooltip":"","group":"ac35df56.49882","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510,"y":300,"wires":[[]]},{"id":"52c7ff1d.ea624","type":"ui_text","z":"1348dd0c.9c1a63","group":"ac35df56.49882","order":5,"width":0,"height":0,"name":"Weight Value","label":"Weight","format":"{{msg.payload}}","layout":"row-left","x":490,"y":380,"wires":[]},{"id":"6db58ddd.71e314","type":"ui_chart","z":"1348dd0c.9c1a63","name":"Weight Chart","group":"ac35df56.49882","order":6,"width":0,"height":0,"label":"weight-chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":460,"wires":[[]]},{"id":"5ff37dcd.474414","type":"ui_text","z":"1348dd0c.9c1a63","group":"ac35df56.49882","order":2,"width":0,"height":0,"name":"Glucose Level","label":"Glucose Level","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":220,"wires":[]}]